/* Общие стили */
* {
  box-sizing: border-box;
}
div[data-sol] {
  display: none;
  margin-top: 20px;
}

button {
  cursor: pointer;
}

#task-5 .class {
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
}
#task-5 .parent {
  display: flex;
  align-items: flex-end;
}
